name: "Sample Apps Build"
on:
  push:
    branches:
      - master
jobs:
  docker:
    strategy:
      matrix:
        variants:
        - type: dotnet-core
          dockerfile: "sample-apps/dotnet-core/Dockerfile"
    runs-on: ubuntu-latest
    environment: public
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        with:
          install: true
          version: latest
      - name: Login (Dockerhub)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: docker.io/contrast/sample-app-${{ matrix.variants.type }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: ${{ matrix.variants.dockerfile }}
          context: '.'
          tags: ${{ steps.meta.outputs.tags }}
          push: true
